<div *ngIf="student" class="detail-wrapper">
    <h2>{{student.name | uppercase}} details</h2>
    <p>id: {{student.id}}</p>

    <mat-form-field class="detail-input">
        <mat-label>Student name: </mat-label>
        <input matInput type="text" id="student-name" [(ngModel)]="student.name" placeholder="name">
    </mat-form-field>

    <button mat-button color="primary" (click)="save()">
        <mat-icon aria-hidden="false" aria-label="save" fontIcon="save"></mat-icon>
        Save
    </button>
    <button mat-button color="primary" (click)="goBack()">
        <mat-icon aria-hidden="false" aria-label="home" fontIcon="home"></mat-icon>
        Go back
    </button>
</div>

<app-loader [isLoading]="(isSingleStudentLoading$ | async)!"></app-loader>
<app-message *ngIf="message$ | async" [message]="(message$ | async)!" [action]="'Close'"></app-message>