section {
  display: flex;
  align-items: start;


  button {
    height: 56px;
    border: 1px solid grey;
  }
}

.divider {
  background: grey;
}

.student {
  button {
    width: 100px;
    margin: 0 10px;
  }
  a {
    text-decoration: none;
    color: grey;
  }
}